{{ partial "header.html" . }}
<h1>{{ .Title }}</h1>
<p>{{ .Description }}</p>
{{ if isset .Site.Taxonomies "tags" }}
{{ $mytag := .Title }}
{{ range $index, $page := (.Paginate (where .Data.Pages "Type" "review")).Pages }}
{{ if ne $index 0 }}
{{ end }}
{{ .Render "li" }}
{{ end }}
{{ else }}
{{ range $index, $page := (.Paginate (where .Site.RegularPages "Type" "review")).Pages }}
{{ if ne $index 0 }}
{{ end }}
{{ .Render "li" }}
{{ end }}
{{ end }}
{{ partial "pagination.html" .Paginator }}
{{ partial "siteinfo.html" . }}
{{ partial "footer.html" . }}
