<!-- template for a single review page -->
{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
{{ $cloudinaryurl := .Site.Params.cloudinary_url }}
<article class="p-article">
  <header>
    <h1>{{ .Title }}</h1>
    <div class="c-time">
      Posted on
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
        {{ .Date.Format "Jan 2, 2006" }}
      </time>
    </div>
    {{ with .Params.featured_image }}
    <img src="{{ $cloudinaryurl }}//w_720,h_400,c_fill{{ . }}" />
    {{ end }}
  </header>
  <section id="js-article" class="p-article__body">
    <div class="intro__meta">
    <ul>
        {{ with .Params.Release }}
          <li>Original Release: {{ . }}</li>
        {{ end }}
        {{ with .Params.Directors }}
          <li>Director(s): {{ delimit . ", "}}</li>
        {{ end }}
        {{ with .Params.Genre }}
          <li>Genre(s): {{ delimit . ", " }}</li>
        {{ end }}
        {{ with .Params.Producers }}
          <li>Producer(s): {{ delimit . ", "}}</li>
        {{ end }}
        {{ with .Params.Screenwriters }}
          <li>Screenwriter(s): {{ delimit . ", "}}</li>
        {{ end }}
        {{ with .Params.Alternative_Titles }}
          <li>Alternative Title(s): {{ delimit . ", "}}</li>
        {{ end }}
    </ul>
    </div>
    {{ .Content }}
    <div>
      {{ range .Params.tags }}
      <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">{{ . }}</a>
      {{ end }}
    </div>
  </section>
  <footer>
    {{ with ($.Param "disqus") }}
    <div id="disqus_thread"></div>
    <script>
    var disqus_shortname = '{{ . }}';
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{ end }}
    <nav class="p-pagination c-pagination">
      <div class="c-pagination__ctrl">
        <div class="c-pagination__newer">
          {{ if .NextInSection }}
          <a href="{{ .NextInSection.Permalink }}">Newer</a>
          {{ else }}
          {{ end }}
        </div>
        <div class="c-pagination__older">
          {{ if .PrevInSection }}
          <a href="{{ .PrevInSection.Permalink }}">Older</a>
          {{ else }}
          {{ end }}
        </div>
      </div>
    </nav>
    {{ partial "related.html" . }}
    {{ partial "siteinfo.html" . }}
  </footer>
</article>
{{ partial "footer.html" . }}
