  </main>
  <footer class="l-footer">
    <p class="p-copyright">
      {{ $siteLastChange := .Site.LastChange.Format "2006" }}
      {{ with .Site.Copyright | safeHTML }}
        {{ . }}
        {{ $siteLastChange }}
        {{ if ($.Param "author") }}
            {{ $.Param "author" }}
        {{ end }}
      {{ else }}
        {{ if ($.Param "authorwebsite") }}
          <a href="{{ $.Param "authorwebsite" }}">{{ $.Param "authorwebsite" }}</a>
        {{ end }}
      {{ end }}
    </p>
  </footer>
</body>
</html>
